<br>

<h1>Assign a Task</h1>

<div class="assigned">
  <% @cleaning.guests.each do |guest| %>
    <% guest.tasks.each do |task| %>
    <p id="<%= guest.id %>"><%= guest.first_name %> <%= guest.last_name + ":" + " "%><%= task.description %></p>
    <% end %>
  <% end %>
</div>

<div class="assign-task">
  <form action="/<%= @cleaning.id %>/tasks" method="post" class="task-form">
    <input type="text" name="task[description]" placeholder="Task"><br>
    <input type="text" name="guest[first_name]" placeholder="Cleaner's First Name"><br>
    <input type="text" name="guest[last_name]" placeholder="Cleaner's Last Name"></br>
    <input type="text" name="guest[number]" placeholder="Cleaner's # Number"><br><br>
    <input type="submit" value="Assign Task">
  </form>
</div>

<form action="/cleanings/<%= @cleaning.id %>" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Send Messages">
</form>

<form action="/users/<%= current_user.id %>">
  <input type="submit" value="Home">
</form>
