<div>
  <form action="/users/<%= current_user.id %>">
    <input type="submit" value="Home">
  </form>
</div>

<h2>You have scheduled a work party at <%= @cleaning.location %> with a start time of <%= @cleaning.start_time.strftime("%H:%M") %>.<h2>

<div class="assigned-tasks">
<% @cleaning.guests.each do |guest| %>
  <ul><% guest.tasks.each do |task| %>
    <li><%= guest.first_name %> <%= guest.last_name %> will <%= task.description %></li>
  <% end %></ul>
<% end %>
</div>
<br>

<%= erb :'/tasks/new' %>

  <form method="get" action="/cleanings/<%= @cleaning.id %>/edit">
      <input type="submit" value="Edit">
  </form>
  <form method="post" action="/cleanings/<%= @cleaning.id %>">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
  </form>
