<div>
  <form action="/users/<%= current_user.id %>">
    <input type="submit" value="Home">
  </form>
</div>

<h2 class='cleaning-desc'>You have scheduled a work party at <%= @cleaning.location %> that starts at <%= @cleaning.start_time.strftime("%H:%M") %>.<h2>

<div class="assigned-tasks">
<% @cleaning.guests.each do |guest| %>
  <% guest.tasks.each do |task| %>
    <%= erb :'/tasks/_guestspartial', locals: {guest: guest, task: task} %>
  <% end %>
<% end %>
</div>
<br>

<%= erb :'/tasks/new' %>

<div>
  <form action="/cleanings/<%= @cleaning.id %>" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Send Messages">
  </form>
</div>

<div class="edit-container">
  <form id="edit" method="get" action="/cleanings/<%= @cleaning.id %>/edit">
      <input type="submit" value="Edit">
  </form>
</div>

<div class="delete-container">
  <form id="delete" action="/cleanings/<%= @cleaning.id %>/delete" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete">
  </form>
</div>
