<div>
  <form action="/users/<%= current_user.id %>">
    <input type="submit" value="Home">
  </form>
</div>

<h2 class='cleaning-desc'>You have scheduled a work party at <%= @cleaning.location %> that starts at <%= @cleaning.start_time.strftime("%H:%M") %>.<h2>

<div class="assigned-tasks">
<% @cleaning.guests.each do |guest| %>
  <% guest.tasks.each do |task| %>

  <div id="<%= task.id%>">
    <%= guest.first_name %> <%= guest.last_name %> will <%= task.description %>
  </div>
  <% end %>
<% end %>
</div>
<br>

<%= erb :'/tasks/new' %>

<div class="edit-container">
  <form id="edit" method="get" action="/cleanings/<%= @cleaning.id %>/edit">
      <input type="submit" value="Edit">
  </form>
</div>
