<h2>You have scheduled a work party at <%= @cleaning.location %> with a start time of <%= @cleaning.start_time %>.<h2>

<div class="assigned-tasks">
<% @cleaning.guests.each do |guest| %>
  <ul><% guest.tasks.each do |task| %>
    <li><%= guest.first_name %> <%= guest.last_name %> will <%= task.description %></li>
  <% end %></ul>
<% end %>
</div>

<%= erb :'/tasks/new' %>
